* {
    box-sizing: border-box;
}
h1{
    background-color: #004175;
    height: 95px;
    padding: 20px;
    color: white;
}

.dogphoto{
    height:250px;
    
}

span {
    background: #89DEEF;
    padding: 8px 8px;
    border-radius: 6px;
    height: 85px;
    width: 100px;
    text-align: center;
}

.box{
    height: 400px;
    width: 400px;
    text-align: center;
    display: inline-block;
}

.wordtraits{
    margin: 40px;

}

.traits{
    line-height: 40px;
}

.initialtext{
    margin-left: 50px;
    border-style: unset;
    
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #A6A9F0;

}

.box1{
    background-image: url(starter_files/images/donate.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
    width: 440px;
    text-align: center;
    color: white;
    
}

.box2{
    background-image: url(starter_files/images/volunteer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
    width: 440px;
    text-align: center;
    color: white;

}

.box3{
    background-image: url(starter_files/images/location.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
    width: 440px;
    text-align: center;
    color: white;

}

