* {
    box-sizing: border-box;
}
h1{
    background-color: #004175;
    height: 95px;
    padding: 20px;
    color: white;
}

.dogphoto{
    height:250px;
}

span {
    background: #89DEEF;
    padding: 8px 8px;
    border-radius: 6px;
}

